{% extends 'layout.html' %}

{% block main %}
  
  <h2 class="text-center">Promociones</h2>
  <div class="row py-5">
    <div class="col-10 offset-1 ">
      <img class="w-100 promocion__imagen" height="350" src="static/imagenes/sushi4.jpg" alt="">
      <div class="text-center promocion__texto">
        <h3>Miércoles de Sushis Clásicos</h3>
        <span>2 x 1</span>
      </div>
    </div>
  </div>
  
  <div class="row pb-5">
    <div class="col-10 offset-1 ">
      <img class="w-100 promocion__imagen" height="350" src="static/imagenes/sushi5.jpg" alt="">
      <div class="text-center promocion__texto">
        <h3>Lunes Especial</h3>
        <span>Sushis especiales incluyen bebida (No alcohólica) + 10% de descuento.</span>
      </div>
    </div>
  </div>

  <h2 class="text-center">Próximamente</h2>
  <h3 class="text-center">Nuestras promociones de verano.</h3>

  {% endblock %}