{% block footer%}
  <footer class="bg-dark row">
    <div class="col-12 text-center">
      <a class="text-white mx-3"  style="font-size: 1.5rem;" title="Facebook" href=""><i class="fab fa-facebook"></i></a>
      <a class="text-white mx-3"  style="font-size: 1.5rem;" title="Instagram" href=""><i class="fab fa-instagram-square"></i></a>
      <a class="text-white mx-3"  style="font-size: 1.5rem;" title="Tik tok" href=""><i class="fab fa-tiktok"></i></a>
    </div>
    <div class="text-center col-12">
      <p class="p-0 m-0 text-white">Tashido sushi &copy; Todos los derechos reservados 2021.</p>
    </div>
  </footer>
{% endblock %}