<header id="hero">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active " data-interval="4000">
        <img src="static/imagenes/sushihero.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption  d-md-block overlay">
          <!-- <h5>Asombrosamente deliciosos</h5> -->
          <p>Disfuta de nuestra gran variedad de sushis. </p>
        </div>
      </div>
      <div class="carousel-item" data-interval="4000">
        <img src="static/imagenes/sushihero2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption  d-md-block overlay">
          <!-- <h5>Buffet de sushis</h5> -->
          <p>Gran buffet los fines de semana (sábados y domingos) $300 p/p</p>
        </div>
      </div>
      <div class="carousel-item" data-interval="4000">
        <img src="static/imagenes/sushihero3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption  d-md-block overlay">
          <!-- <h5>Desde la comodidad de tu casa.</h5> -->
          <p>Come tu sushi favorito en tu casa con food delivery.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>